<div class="container" style="margin-top: 70px;">
    <div class="row">
      <div class="col">
          <div class="input-group mb-3">
              <input type="text" class="form-control" ngModel name="input" #input  aria-label="Sizing example input" placeholder="User" aria-describedby="inputGroup-sizing-default">
            </div>
      </div> 
      <div class="col">
          <select class="form-control" id="exampleFormControlSelect1" ngModel name="room" #room >
              <option>thunderbird</option>
              <option>SuperSky</option>
            </select>
      </div> 
      <div class="col">
          <button type="button" class="btn btn-primary" (click)="join(input.value,room.value)">join</button>
      </div>  
      <div class="col">
          <button type="button" class="btn btn-primary" (click)="leave(input.value,room.value)">leave</button>
      </div>  
    </div>
<div class="card" style="width: 40rem;" >
    <div class="card-body">
      <div style="height: 200px;">
      <div *ngFor="let message of messages">
        <span><strong>{{message.user}}: </strong>{{message.message}} </span>
      </div>
    </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" [(ngModel)]="text"  placeholder="Enter ur message">
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-success" (click)="send(input.value,room.value)"  >send</button>
        </div>
      </div>
    </div>
  </div>
  </div>